.inputS {
    background-color: white;
}

input::placeholder {
    text-indent: 10px;
    padding: 10px 0;
}

.buttonS {
  margin-right: 45vh;
  width: 200px;
  height: 40px;
  border-radius: 100px;
  background-color: gray;
  color: white;
  margin-bottom: 80px;
}

.results {
    height: calc(90vh - 50px); /* Ajuste o valor conforme necessário */
    overflow-y: auto; /* Faz com que a área de resultados seja rolável */
    color: white;
    font-size: 30px;
}

.results::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem no Chrome, Safari e Edge */
}

.nameSearch {
    color: white;
    font-size: 30px;
    text-decoration: dashed;
}

.resultsSongs {
    margin-right: 40%;
}

.favorite {
    padding-left: 10px;
    padding-bottom: 15px;
}

.Album {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
}